body {
  background: #F5F5F5 url("textured_paper.png");
  border-bottom: 1px solid #e4e6ec; }

.nav-bar {
  background-color: #413648;
  height: 55px; }
  .nav-bar nav {
    margin: auto;
    height: 100%; }
    .nav-bar nav ul {
      position: relative;
      float: left;
      left: 2%;
      text-align: center;
      height: 100%; }
      .nav-bar nav ul li {
        color: #f9f8fa;
        position: relative;
        display: inline-block;
        line-height: 5.5;
        font-size: 11px;
        padding: 0 18px 0 0;
        text-decoration: none;
        text-transform: uppercase;
        letter-spacing: 2px; }

.main {
  margin: auto; }
  .main .news {
    height: 234px; }
    .main .news .logo {
      position: relative;
      top: 5%;
      height: 208px;
      float: left; }
      .main .news .logo img {
        position: absolute;
        height: 207px;
        display: table-cell;
        border: none; }
    .main .news .announcement {
      position: relative;
      top: 30%;
      min-height: 0;
      height: 66px;
      line-height: 66px;
      border: none; }
      .main .news .announcement .gophish {
        display: inline-block;
        vertical-align: middle;
        color: #535046;
        font-family: "function_probook", Arial, sans-serif;
        line-height: 35px;
        font-size: 24px; }

.content .pieces .theworks {
  position: relative; }
  .content .pieces .theworks .latest-gallery-wrapper {
    margin-top: -35px; }
  .content .pieces .theworks .latest-gallery-third-wrapper {
    margin-top: -310px; }
  .content .pieces .theworks .now-available-second-wrapper {
    margin-top: -170px;
    float: left; }
  .content .pieces .theworks .livephish-video-wrapper {
    margin-top: -29px; }
  .content .pieces .theworks .half-screen {
    width: 48.9%; }
  .content .pieces .theworks .workbox-wrapper {
    float: left;
    position: relative;
    margin-right: 1.67%;
    margin-bottom: 20px; }
    .content .pieces .theworks .workbox-wrapper .heading {
      min-height: 0;
      height: 18px;
      width: 100%;
      float: left;
      position: relative;
      border: none;
      border-top: 5px solid #413648;
      color: #535046;
      letter-spacing: 2px;
      line-height: 14px;
      font-size: 14px;
      padding: 7px 0;
      text-transform: uppercase; }
    .content .pieces .theworks .workbox-wrapper .workbox {
      min-height: 0;
      position: relative;
      clear: both;
      background-color: white;
      border: 1px solid #e4e6ec; }
    .content .pieces .theworks .workbox-wrapper .latest-news {
      height: 747px; }
    .content .pieces .theworks .workbox-wrapper .now-available {
      height: 609px; }
    .content .pieces .theworks .workbox-wrapper .now-available-second {
      height: 547px; }
    .content .pieces .theworks .workbox-wrapper .from-the-road {
      height: 783px; }
    .content .pieces .theworks .workbox-wrapper .latest-gallery {
      height: 296px; }
    .content .pieces .theworks .workbox-wrapper .latest-gallery-second {
      height: 397px; }
    .content .pieces .theworks .workbox-wrapper .latest-gallery-third {
      height: 448px; }
    .content .pieces .theworks .workbox-wrapper .livephish {
      height: 124px; }
    .content .pieces .theworks .workbox-wrapper .latest-tour {
      height: 451px; }
    .content .pieces .theworks .workbox-wrapper .latest-tour-second {
      height: 451px; }
    .content .pieces .theworks .workbox-wrapper .latest-photo-gallery {
      height: 443px; }
    .content .pieces .theworks .workbox-wrapper .latest-video {
      height: 414px; }
    .content .pieces .theworks .workbox-wrapper .maya-riviera {
      height: 410px; }
    .content .pieces .theworks .workbox-wrapper .livephish-video {
      height: 353px; }
    .content .pieces .theworks .workbox-wrapper .new-at-livephish {
      height: 140px;
      background-color: #e36740; }
    .content .pieces .theworks .workbox-wrapper .load-more {
      height: 60px;
      background-color: #e36740;
      text-align: center; }
      .content .pieces .theworks .workbox-wrapper .load-more span {
        color: white;
        font-size: 24px;
        line-height: 60px;
        text-transform: uppercase;
        letter-spacing: 2px; }
  .content .pieces .theworks .right {
    margin-right: 0; }
  .content .pieces .theworks .load-more-wrapper {
    margin-bottom: 30px; }

footer {
  height: 42px;
  padding: 40px 0;
  background-color: white; }
  footer .footer {
    margin: auto;
    letter-spacing: 2px;
    font-size: 12px;
    text-transform: uppercase; }
    footer .footer nav ul {
      float: left;
      text-align: center; }
      footer .footer nav ul li {
        float: left;
        margin-right: 22px;
        color: #e36740; }
    footer .footer nav .copyright {
      position: relative;
      float: left;
      clear: both;
      text-align: center;
      color: #535046;
      bottom: -18px; }

/*# sourceMappingURL=style.css.map */
